@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary: #5740ad;
  --red: #ff3a3a;
}

* {
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: #000000;
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
  position: relative;
}

body,
.whatup--site-inner {
  /* background: #fff; */
  background-color: #0a0a0a;
}

::-moz-selection {
  background:var(--primary);
  color: #fff;
}

::selection {
  background:var(--primary);
  color: #fff;
}

::placeholder{
  color: rgba(255, 255, 255, 0.678);
}

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

a,
a:hover {
  text-decoration: none !important;
}

.img {
  width: 100%;
}

/* #uploadFileBtn::before {
  content: '';
  z-index: -1;
  position: absolute;
  width: 70%;
  height: 50px;
  --webkit-border-radius: 15px;
  --moz-border-radius: 15px;
  border-radius: 15px;
  background-color: #2785ff;
  top: 15px;
  left: 4px;
  filter: blur(10px);
  transition: all ease-in-out .3s;
  transform: translate(14%, 10%);
}

#uploadFileBtn:hover#uploadFileBtn::before {
  background-color: #2785FF;
  height: 40px;

} */

#image {
  margin: 5% 0%;
  max-width: 100%;
  min-width: 100%;
  max-height: 38vh;
  min-height: 38vh;
  border-radius: 10px;
  transition: all ease-in-out .3s;
  background-position: center;
  background-size: cover;
}

.hidde {
  display: none;
}

.show {
  display: block;
}

.wu--site-inner {
  position: relative;
  width: 100%;
  padding: 0px 10%;
  z-index: 1;
}

.wu--site-main {
  max-width: 45%;
  min-width: 45%;
  width: 45%;
  margin: 9% auto 0 auto;
}

@media (max-width: 991.98px) {
  .whatup--site-inner {
    margin-bottom: auto !important;
  }
}

.whatup--footer {
  position: fixed !important;
  width: 100%;
  background-color: #191919;
  color: #fff;
  left: 0;
  right: 0;
  bottom: 0px;
  z-index: -1;
  height: 400px;
}

@media (max-width: 991.98px) {
  .whatup--footer {
    height: auto !important;
    position: relative !important;
  }
}

/*Alerts*/

.wu--alert {
  background-color: transparent;
  border-radius: 12px;
  width: fit-content;
  padding: 1% 1%;
  position: fixed;
  margin: 0px auto;
  left: 2%;
  bottom: 4%;
  z-index: 1;
  display: flex;
  align-content: center;
}

button.wu--close {
  background-color: transparent;
  border: none;
  font-size: 25px;
  margin-left: 10px;
}

.wu--alert.wu--alert-error {
  border: 1px solid var(--red);
  color: var(--red);
}

.wu--alert.wu--alert-error > button.wu--close{
  color: var(--red);
}

.wu--alert.wu--alert-success {
  border: 1px solid var(--primary);
  color: var(--primary);
}

.wu--alert.wu--alert-success > button.wu--close{
  color: var(--primary);
}

/*Buttons*/

.wu--btn {
  position: relative;
  width: fit-content;
  padding: 3% 9%;
  --webkit-border-radius: 10px;
  --moz-border-radius: 10px;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  text-align: center;
  background-color: inherit;
  color: inherit;
  transition: all ease-in-out .3s;
  font-family: 'Poppins';
  font-size: 13px;
  text-transform: lowercase;
}

.wu--btn-primary {
  background-color: var(--primary);
  color: #fff;
}

#uploadFileBtn {
  position: relative;
  width: fit-content;
  padding: 15px 15px;
  --webkit-border-radius: 10px;
  --moz-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
  background-color: var(--primary);
  color: #fff;
  cursor: pointer;
  text-overflow: ellipsis;
  transition: all ease-in-out .3s;
  display: grid;
}

.wu--btn-icon {
  position: relative;
  width: fit-content;
  padding: 15px 15px;
  --webkit-border-radius: 10px;
  --moz-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
  background-color: var(--primary);
  color: #fff;
  cursor: pointer;
  text-overflow: ellipsis;
  transition: all ease-in-out .3s;
  display: grid;
}

/*Inputs*/

textarea.wu-input-textarea {
  width: 100%;
  resize: none;
  padding: 14px 14px;
  font-family: 'Poppins';
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid var(--primary);
  margin-bottom: 2%;
  color:#fff;
}

textarea:focus,
input:focus,
a:focus,
button:focus {
  outline: none !important;
}

#whatup--overlayer {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 7100;
  background: #000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.site-loader-wrap {
  z-index: 7700;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.whatup--site-nav {
  background: rgb(23 23 23 / 57%);
  backdrop-filter: blur(20px);  padding: 1% 10%;
  position: fixed;
  left: 0;
  font-weight: 400;
  z-index: 1002;
  width: 100%;
  top: 0;
}

.whatup--site-nav .container {
  position: relative;
}

.whatup--site-nav .site-logo {
  z-index: 99;
}

.whatup--site-nav .site-logo.pos-absolute {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.whatup--site-nav .site-nav-ul-wrap {
  width: 100%;
  margin: 0 auto;
  z-index: 1;
  position: relative;
}

.whatup--site-nav .whatup--site-logo {
  font-size: 1.7rem;
  color: #000;
  font-weight: 700;
}

.whatup--site-nav .whatup--site-logo span {
  color: var(--primary);
}

.whatup--site-nav .site-nav-ul,
.whatup--site-nav .site-nav-ul-none-onepage {
  text-align: center;
}

.whatup--site-nav .site-nav-ul,
.whatup--site-nav .site-nav-ul>li,
.whatup--site-nav .site-nav-ul-none-onepage,
.whatup--site-nav .site-nav-ul-none-onepage>li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.whatup--site-nav .site-nav-ul>li,
.whatup--site-nav .site-nav-ul-none-onepage>li {
  text-align: left;
  display: inline-block;
}

.whatup--site-nav .site-nav-ul>li>a,
.whatup--site-nav .site-nav-ul-none-onepage>li>a {
  padding: 10px 7px;
  display: block;
  color: #000;
  font-size: 14px;
  position: relative;
}

.whatup--site-nav .site-nav-ul>li>a:before,
.whatup--site-nav .site-nav-ul-none-onepage>li>a:before {
  left: 7px;
  right: 7px;
  content: "";
  position: absolute;
  height: 1px;
  background: #fff;
  bottom: 0;
  width: 0%;
  -webkit-transition: .2s width ease-in-out;
  -o-transition: .2s width ease-in-out;
  transition: .2s width ease-in-out;
}

.whatup--site-nav .site-nav-ul>li>a:hover,
.whatup--site-nav .site-nav-ul-none-onepage>li>a:hover {
  color: var(--primary);
}

.whatup--site-nav .site-nav-ul>li>a:hover:before,
.whatup--site-nav .site-nav-ul-none-onepage>li>a:hover:before {
  width: calc(100% - 14px);
}

.whatup--site-nav .site-nav-ul>li>a.active,
.whatup--site-nav .site-nav-ul-none-onepage>li>a.active {
  position: relative;
}

.whatup--site-nav .site-nav-ul>li>a.active:before,
.whatup--site-nav .site-nav-ul-none-onepage>li>a.active:before {
  color: #fff;
  width: calc(100% - 14px);
}

.whatup--site-nav .site-nav-ul>li.has-children,
.whatup--site-nav .site-nav-ul-none-onepage>li.has-children {
  position: relative;
}

.whatup--site-nav .site-nav-ul>li.has-children>.dropdown,
.whatup--site-nav .site-nav-ul>li.has-children>ul,
.whatup--site-nav .site-nav-ul-none-onepage>li.has-children>.dropdown,
.whatup--site-nav .site-nav-ul-none-onepage>li.has-children>ul {
  visibility: hidden;
  opacity: 0;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 100%;
  min-width: 200px;
  background: #fff;
  padding: 20px 0px;
  margin-top: 20px;
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.2s 0s;
  -o-transition: 0.2s 0s;
  transition: 0.2s 0s;
}

.whatup--site-nav .site-nav-ul>li.has-children>.dropdown>li,
.whatup--site-nav .site-nav-ul>li.has-children>ul>li,
.whatup--site-nav .site-nav-ul-none-onepage>li.has-children>.dropdown>li,
.whatup--site-nav .site-nav-ul-none-onepage>li.has-children>ul>li {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 1.5;
}

.whatup--site-nav .site-nav-ul>li.has-children>.dropdown>li,
.whatup--site-nav .site-nav-ul>li.has-children>ul>li,
.whatup--site-nav .site-nav-ul-none-onepage>li.has-children>.dropdown>li,
.whatup--site-nav .site-nav-ul-none-onepage>li.has-children>ul>li {
  display: block;
  /* 2nd level hover*/
}

.whatup--site-nav .site-nav-ul>li.has-children>.dropdown>li a,
.whatup--site-nav .site-nav-ul>li.has-children>ul>li a,
.whatup--site-nav .site-nav-ul-none-onepage>li.has-children>.dropdown>li a,
.whatup--site-nav .site-nav-ul-none-onepage>li.has-children>ul>li a {
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
  display: block;
  color: gray;
}

.whatup--site-nav .site-nav-ul>li.has-children>.dropdown>li a:hover,
.whatup--site-nav .site-nav-ul>li.has-children>ul>li a:hover,
.whatup--site-nav .site-nav-ul-none-onepage>li.has-children>.dropdown>li a:hover,
.whatup--site-nav .site-nav-ul-none-onepage>li.has-children>ul>li a:hover {
  color: #000;
  background: #f9f9f9;
  padding-left: 30px;
}

.whatup--site-nav .site-nav-ul>li.has-children>.dropdown>li.has-children,
.whatup--site-nav .site-nav-ul>li.has-children>ul>li.has-children,
.whatup--site-nav .site-nav-ul-none-onepage>li.has-children>.dropdown>li.has-children,
.whatup--site-nav .site-nav-ul-none-onepage>li.has-children>ul>li.has-children {
  position: relative;
}

.whatup--site-nav .site-nav-ul>li.has-children>.dropdown>li.has-children>a,
.whatup--site-nav .site-nav-ul>li.has-children>ul>li.has-children>a,
.whatup--site-nav .site-nav-ul-none-onepage>li.has-children>.dropdown>li.has-children>a,
.whatup--site-nav .site-nav-ul-none-onepage>li.has-children>ul>li.has-children>a {
  position: relative;
}

.whatup--site-nav .site-nav-ul>li.has-children>.dropdown>li.has-children>a:before,
.whatup--site-nav .site-nav-ul>li.has-children>ul>li.has-children>a:before,
.whatup--site-nav .site-nav-ul-none-onepage>li.has-children>.dropdown>li.has-children>a:before,
.whatup--site-nav .site-nav-ul-none-onepage>li.has-children>ul>li.has-children>a:before {
  position: absolute;
  content: "\e315";
  font-size: 16px;
  top: 50%;
  color: #000;
  right: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: 'icomoon';
}

.whatup--site-nav .site-nav-ul>li.has-children>.dropdown>li.has-children>.dropdown,
.whatup--site-nav .site-nav-ul>li.has-children>.dropdown>li.has-children>ul,
.whatup--site-nav .site-nav-ul>li.has-children>ul>li.has-children>.dropdown,
.whatup--site-nav .site-nav-ul>li.has-children>ul>li.has-children>ul,
.whatup--site-nav .site-nav-ul-none-onepage>li.has-children>.dropdown>li.has-children>.dropdown,
.whatup--site-nav .site-nav-ul-none-onepage>li.has-children>.dropdown>li.has-children>ul,
.whatup--site-nav .site-nav-ul-none-onepage>li.has-children>ul>li.has-children>.dropdown,
.whatup--site-nav .site-nav-ul-none-onepage>li.has-children>ul>li.has-children>ul {
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0;
  z-index: 22;
  list-style: none;
  top: 0;
  left: 100%;
  min-width: 200px;
  background: #fff;
  padding: 20px 0px;
  margin-top: 20px;
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.2s 0s;
  -o-transition: 0.2s 0s;
  transition: 0.2s 0s;
}

.whatup--site-nav .site-nav-ul>li.has-children>.dropdown>li.has-children>.dropdown a,
.whatup--site-nav .site-nav-ul>li.has-children>.dropdown>li.has-children>ul a,
.whatup--site-nav .site-nav-ul>li.has-children>ul>li.has-children>.dropdown a,
.whatup--site-nav .site-nav-ul>li.has-children>ul>li.has-children>ul a,
.whatup--site-nav .site-nav-ul-none-onepage>li.has-children>.dropdown>li.has-children>.dropdown a,
.whatup--site-nav .site-nav-ul-none-onepage>li.has-children>.dropdown>li.has-children>ul a,
.whatup--site-nav .site-nav-ul-none-onepage>li.has-children>ul>li.has-children>.dropdown a,
.whatup--site-nav .site-nav-ul-none-onepage>li.has-children>ul>li.has-children>ul a {
  padding-left: 30px;
  padding-right: 30px;
}

.whatup--site-nav .site-nav-ul>li.has-children>.dropdown>li:hover,
.whatup--site-nav .site-nav-ul>li.has-children>.dropdown>li:focus,
.whatup--site-nav .site-nav-ul>li.has-children>.dropdown>li:active,
.whatup--site-nav .site-nav-ul>li.has-children>ul>li:hover,
.whatup--site-nav .site-nav-ul>li.has-children>ul>li:focus,
.whatup--site-nav .site-nav-ul>li.has-children>ul>li:active,
.whatup--site-nav .site-nav-ul-none-onepage>li.has-children>.dropdown>li:hover,
.whatup--site-nav .site-nav-ul-none-onepage>li.has-children>.dropdown>li:focus,
.whatup--site-nav .site-nav-ul-none-onepage>li.has-children>.dropdown>li:active,
.whatup--site-nav .site-nav-ul-none-onepage>li.has-children>ul>li:hover,
.whatup--site-nav .site-nav-ul-none-onepage>li.has-children>ul>li:focus,
.whatup--site-nav .site-nav-ul-none-onepage>li.has-children>ul>li:active {
  cursor: pointer;
}

.whatup--site-nav .site-nav-ul>li.has-children>.dropdown>li:hover>.dropdown,
.whatup--site-nav .site-nav-ul>li.has-children>.dropdown>li:focus>.dropdown,
.whatup--site-nav .site-nav-ul>li.has-children>.dropdown>li:active>.dropdown,
.whatup--site-nav .site-nav-ul>li.has-children>ul>li:hover>.dropdown,
.whatup--site-nav .site-nav-ul>li.has-children>ul>li:focus>.dropdown,
.whatup--site-nav .site-nav-ul>li.has-children>ul>li:active>.dropdown,
.whatup--site-nav .site-nav-ul-none-onepage>li.has-children>.dropdown>li:hover>.dropdown,
.whatup--site-nav .site-nav-ul-none-onepage>li.has-children>.dropdown>li:focus>.dropdown,
.whatup--site-nav .site-nav-ul-none-onepage>li.has-children>.dropdown>li:active>.dropdown,
.whatup--site-nav .site-nav-ul-none-onepage>li.has-children>ul>li:hover>.dropdown,
.whatup--site-nav .site-nav-ul-none-onepage>li.has-children>ul>li:focus>.dropdown,
.whatup--site-nav .site-nav-ul-none-onepage>li.has-children>ul>li:active>.dropdown {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  margin-top: 0px;
  visibility: visible;
  opacity: 1;
}

.whatup--site-nav .site-nav-ul>li.has-children:hover,
.whatup--site-nav .site-nav-ul>li.has-children:focus,
.whatup--site-nav .site-nav-ul>li.has-children:active,
.whatup--site-nav .site-nav-ul-none-onepage>li.has-children:hover,
.whatup--site-nav .site-nav-ul-none-onepage>li.has-children:focus,
.whatup--site-nav .site-nav-ul-none-onepage>li.has-children:active {
  cursor: pointer;
}

.whatup--site-nav .site-nav-ul>li.has-children:hover>.dropdown,
.whatup--site-nav .site-nav-ul>li.has-children:focus>.dropdown,
.whatup--site-nav .site-nav-ul>li.has-children:active>.dropdown,
.whatup--site-nav .site-nav-ul-none-onepage>li.has-children:hover>.dropdown,
.whatup--site-nav .site-nav-ul-none-onepage>li.has-children:focus>.dropdown,
.whatup--site-nav .site-nav-ul-none-onepage>li.has-children:active>.dropdown {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  margin-top: 0px;
  visibility: visible;
  opacity: 1;
}

.whatup--site-nav .site-nav-ul>li.active>a,
.whatup--site-nav .site-nav-ul-none-onepage>li.active>a {
  position: relative;
}

.whatup--site-nav .site-nav-ul>li.active>a:before,
.whatup--site-nav .site-nav-ul-none-onepage>li.active>a:before {
  color: #fff;
  width: calc(100% - 40px);
}

.whatup--site-nav .burger-toggle-menu {
  display: block;
  width: 36px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 99;
}

.whatup--site-nav .burger-toggle-menu span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #fff;
  border-radius: 0px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.whatup--site-nav .burger-toggle-menu span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
}

.whatup--site-nav .burger-toggle-menu span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
}

.whatup--site-nav .burger-toggle-menu span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
}

.whatup--site-nav .burger-toggle-menu.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 0;
}

.whatup--site-nav .burger-toggle-menu.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.whatup--site-nav .burger-toggle-menu.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 23px;
  left: 0;
}

.whatup--site-nav.scrolled {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  margin-top: -130px;
  background: #fff !important;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding-top: 5px;
  padding-bottom: 5px;
}

.whatup--site-nav.scrolled .burger-toggle-menu {
  top: 10px;
}

.whatup--site-nav.scrolled .burger-toggle-menu span {
  background: #000;
}

.whatup--site-nav.scrolled .whatup--site-logo {
  color: #000;
}

.whatup--site-nav.scrolled .site-nav-ul,
.whatup--site-nav.scrolled .site-nav-ul-none-onepage {
  text-align: center;
}

.whatup--site-nav.scrolled .site-nav-ul,
.whatup--site-nav.scrolled .site-nav-ul>li,
.whatup--site-nav.scrolled .site-nav-ul-none-onepage,
.whatup--site-nav.scrolled .site-nav-ul-none-onepage>li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.whatup--site-nav.scrolled .site-nav-ul>li,
.whatup--site-nav.scrolled .site-nav-ul-none-onepage>li {
  text-align: left;
  display: inline-block;
}

.whatup--site-nav.scrolled .site-nav-ul>li>a,
.whatup--site-nav.scrolled .site-nav-ul-none-onepage>li>a {
  display: block;
  color: #000;
}

.whatup--site-nav.scrolled .site-nav-ul>li>a:hover,
.whatup--site-nav.scrolled .site-nav-ul-none-onepage>li>a:hover {
  color: var(--primary);
}

.whatup--site-nav.scrolled .site-nav-ul>li>a:before,
.whatup--site-nav.scrolled .site-nav-ul-none-onepage>li>a:before {
  background: #fff;
}

.whatup--site-nav.scrolled .site-nav-ul>li>a.active,
.whatup--site-nav.scrolled .site-nav-ul-none-onepage>li>a.active {
  color: var(--primary);
}

.whatup--site-nav.scrolled .site-nav-ul>li>a.active:before,
.whatup--site-nav.scrolled .site-nav-ul-none-onepage>li>a.active:before {
  background: #fff;
}

.whatup--site-nav.scrolled.awake {
  margin-top: 0px;
  -webkit-transition: .3s all ease-out;
  -o-transition: .3s all ease-out;
  transition: .3s all ease-out;
}

.whatup--site-nav.scrolled.sleep {
  -webkit-transition: .3s all ease-out;
  -o-transition: .3s all ease-out;
  transition: .3s all ease-out;
}

/* Mobile nav */
/* .whatup--site-mobile-menu {
  position: fixed;
  z-index: 1009;
  height: 100vh;
  background: #fff;
  width: 280px;
  overflow: auto;
  padding-top: 30px;
  padding-bottom: 70px;
  width: 280px;
  left: 0;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: 1s -webkit-transform cubic-bezier(0.23, 1, 0.32, 1);
  transition: 1s -webkit-transform cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: 1s transform cubic-bezier(0.23, 1, 0.32, 1);
  transition: 1s transform cubic-bezier(0.23, 1, 0.32, 1);
  transition: 1s transform cubic-bezier(0.23, 1, 0.32, 1), 1s -webkit-transform cubic-bezier(0.23, 1, 0.32, 1);
}

.offcanvas .whatup--site-mobile-menu {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

.whatup--site-mobile-menu .close-wrap {
  margin-right: 20px;
  position: relative;
}

.whatup--site-mobile-menu .close-wrap a {
  margin-right: 15px;
}

.whatup--site-mobile-menu .close-wrap a:hover {
  opacity: .5;
}

.whatup--site-mobile-menu .close-wrap a .close-label {
  margin-right: 20px;
  color: #000;
}

.whatup--site-mobile-menu .close-wrap a .close-times {
  position: relative;
  margin-top: 4px;
  right: 0;
}

.whatup--site-mobile-menu .close-wrap a .close-times .bar1, .whatup--site-mobile-menu .close-wrap a .close-times .bar2 {
  width: 2px;
  height: 20px;
  background: #000;
  position: absolute;
}

.whatup--site-mobile-menu .close-wrap a .close-times .bar1 {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.whatup--site-mobile-menu .close-wrap a .close-times .bar2 {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.whatup--site-mobile-menu ul, .whatup--site-mobile-menu ul li {
  padding: 0;
  margin: 0;
  position: relative;
}

.whatup--site-mobile-menu ul a, .whatup--site-mobile-menu ul li a {
  position: relative;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: #000;
}

.whatup--site-mobile-menu ul a:hover, .whatup--site-mobile-menu ul li a:hover {
  color: var(--primary);
}

.whatup--site-mobile-menu ul > li > ul > li > a {
  position: relative;
  padding-left: 30px;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.whatup--site-mobile-menu ul > li > ul > li > ul > li > a {
  position: relative;
  padding-left: 50px;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.whatup--site-mobile-menu ul > li.has-children .arrow-collapse {
  position: absolute;
  right: 10px;
  top: 0px;
  z-index: 20;
  width: 45px;
  height: 45px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
}

.whatup--site-mobile-menu ul > li.has-children .arrow-collapse:before {
  font-size: 11px !important;
  z-index: 20;
  font-family: "icomoon";
  content: "\f078";
  position: absolute;
  top: 50%;
  left: 50%;
  color: #000;
  -webkit-transform: translate(-50%, -50%) rotate(-180deg);
  -ms-transform: translate(-50%, -50%) rotate(-180deg);
  transform: translate(-50%, -50%) rotate(-180deg);
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.whatup--site-mobile-menu ul > li.has-children .arrow-collapse.collapsed:before {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.whatup--site-mobile-menu ul > li.has-children > ul > li.has-children .arrow-collapse {
  top: -10px;
} */

.sidebar-header {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  display: block;
  margin-bottom: 35px;
}

.site-searchbar {
  position: relative;
  overflow: hidden;
}

.searchbar {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  padding: 2% 4%;
  border-radius: 10px;
  background-color: #212121;
  justify-content: space-between;
}

input.wu--input-searchbar {
  width: inherit;
  height: inherit;
  position: relative;
  border: 0;
  background-color: transparent;
  font-family: 'Poppins';
}

button.wu--btn-searchbar {
  position: relative;
  border: none;
  background-color: transparent;
  color: rgb(124 121 117);
}

.sidebar-account-pic {
  width: auto;
}

.sidebar-account-info {
  width: auto;
  margin-left: 12px;
}

.sidebar-account-name {
  margin-bottom: 0px;
}

p.account-name-p {
  font-size: 15px;
  line-height: initial;
  font-weight: 500;
  color: #ffffff;
}

p.account-email-p {
  font-size: 12px;
  line-height: initial;
  color: #505152;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 120px;
}

.sidebar-links {
  display: grid;
  align-items: stretch;
  height: fit-content;
}

a.sidebar-link {
  height: fit-content;
  margin-bottom: 10%;
  background-color: #101010;
  border-radius: 10px;
  padding: 4% 4%;
  font-size: 14px;
  /* font-size: 0.88rem; */
  color: #ffffff;
  font-weight: 300;
}

a.sidebar-link:hover {
  background-color: var(--primary);
}

span.sidebar-link-icon {
  color: #ffffff;
  margin-right: 15px;
  line-height: 0px;
}

p.sidebar-link-p {
  line-height: 1.5;
}

/* Sidebar left */

.wu--site-sidebar {
  position: fixed;
  display: block;
  min-width: 18%;
  max-width: 18%;
  height: fit-content;
  top: 12%;
  /* background-color: #101010;*/
  }

.sidebar-container {
  position: relative;
  padding: 5% 0;
}

.account-pic {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  background-position: center;
  background-size: cover;
  border-radius: 12px;
}

.wu--section-title {
  position: relative;
  display: block;
  margin-bottom: 9%;
  color: #fff;
}

.wu--section-empty {
  position: relative;
  display: block;
  width: fit-content;
  text-align: center;
  margin: 0 auto;
}

.wu--section-empty p {
  color: #3c3c3c;
  font-size: 21px;
  font-weight: 700;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.relative {
  position: relative;
}

.align-center {
  align-items: center;
}

.p-none {
  padding: 0 !important;
}

.m-none {
  margin: 0 !important;
}

.wu--feed-main {
  position: relative;
  height: fit-content;
  width: 100%;
  display: grid;
}

.wu--card {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 12%;
  height: fit-content;
  background-color: #101010;
  border-radius: 12px;
  overflow: hidden;
  padding: 4% 0%;
}

.wu--card-body {
  position: relative;
  width: 100%;
  height: fit-content;
  padding: 3% 0% 3% 0%;
}

.card-body-1::before {
  content: '';
  background-color: #000000;
  position: absolute;
  z-index: -1;
  height: 20vh;
  width: 80%;
  top: 15%;
  left: 11%;
  border-radius: 42px;
  filter: blur(20px);
}

.card-body-2::before {
  content: '';
  background-color: #000000;
  position: absolute;
  z-index: -1;
  height: 10vh;
  width: 80%;
  top: 48%;
  left: 11%;
  border-radius: 42px;
  filter: blur(20px);
}

.wu--card-text {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 5%;
  padding: 0% 5%;
}

p.wu--card-text-p {
  font-family: 'Poppins';
  font-weight: 200;
  font-size: 14px;
  color: #ffffff;
}

p.wu--card-date-p {
  font-size: 11px;
  font-weight: 300;
  line-height: initial;
  color: #888;
}

.wu--card-photo {
  position: relative;
  width: 85%;
  height: 32vh;
  z-index: 1;
  overflow: hidden;
  border-radius: 25px;
  margin: 5px auto -35px auto;
}

.card-photo {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  background-position: center;
  background-size: cover;
}

.wu--card-header {
  position: relative;
  display: flex;
  width: 100%;
  height: 10vh;
  padding: 0% 5%;
  justify-content: space-between;
  align-items: center;
}

.wu--card-user {
  display: flex;
  position: relative;
  height: fit-content;
  box-sizing: border-box;
  align-items: center;
  max-width: 36%;
  width: fit-content;
}

.wu--card-more {
  position: relative;
  display: block;
  width: fit-content;
}

.btn-more {
  background-color: #292929;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  display: grid;
  color: #fff;
  align-content: center;
  font-size: 12px;
}

.wu--card-user-pic {
  position: relative;
  display: block;
  width: fit-content;
  margin-right: 10%;
  height: fit-content;
}

.wu--card-user-pic .account-pic {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
}

.wu--card-user-info {
  position: relative;
  height: fit-content;
  width: auto;
  display: block;
}

.wu--card-user-info p.username {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: initial;
}

.wu--card-picture {
  position: relative;
  display: block;
  width: 100%;
  height: 40vh;
}

.wu--card-footer {
  position: relative;
  display: flex;
  width: 100%;
  padding: 2% 5% 0% 5%;
}

.action-group {
  position: relative;
  display: flex;
  margin-right: 6%;
  height: fit-content;
}

span.action-span {
  color: #464646;
  margin-right: 15%;
  line-height: initial;
}

p.action-counter {
  color: #464646;
  line-height: initial;
}

/*Signup y Signin*/

.wu--sign-main {
  width: 100%;
  height: 100vh;
  display: block;
  position: relative;
}

.wu--sign-form {
  height: -webkit-fill-available;
  padding: 5% 0%;
  position: relative;
  display: flex;
  justify-content:space-around;
}

.wu--sign-form-container form {
  display: grid;
  position: relative;
  height: 100%;
  box-sizing: border-box;
  width: 100%;
  align-content: center;
}

.wu--sign-info-container {
  position: relative;
  /* background-color: var(--primary); */
  /* background-color: #101010; */
  display: block;
  width: 35%;
  height: -webkit-fill-available;
  border-radius: 35px;
  box-sizing: border-box;
  padding: 4% 3%;
}

.wu--sign-info {
  display: grid;
  width: -webkit-fill-available;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  align-content: space-between;
}

.wu--sign-info-logo {
  width: 24%;
  height: fit-content;
  margin-bottom: -27%;
}

.wu--sign-info-top {
  height: fit-content;
  display: block;
  position: relative;
  box-sizing: border-box;
}

.wu--sign-info-bottom {
  height: fit-content;
  display: block;
  position: relative;
  box-sizing: border-box;
}

.wu--sign-info-title {
  margin-bottom: 7%;
  display: block;
  position: relative;
  height: fit-content;
  width: fit-content;
}

.wu--sign-info-text {
  display: block;
  position: relative;
  height: fit-content;
  width: fit-content;
}

.wu--sign-info-title p {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
}

.wu--sign-info-text p {
  color: #fff;
  font-weight: 200;
  font-size: 15px;
  line-height: 18px;
}

.wu--sign-info-add-bottom {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: fit-content;
  /* background-color: #63a0f1; */
  background-color: #232323;
  border-radius: 14px;
  padding: 4%;
}

.wu--sign-info-footer {
  position: relative;
  display: block;
  margin-top: 6%;
  width: 100%;
  text-align: center;
}

.wu--sign-info-footer p {
  /* color: #274b7b; */
  color: #5a5a5a;
  font-size: 13px;
}

.wu--sign-info-footer a {
  /* color: #274b7b; */
  color: #5a5a5a;
  font-size: 13px;
}

.wu--sign-info-add-bottom p {
  color: #fff;
  font-size: 14px;
  font-weight: 200;
  line-height: 21px;
}

.wu--sign-info-add-bottom a {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

.wu--sign-form-container {
  position: relative;
  /* background-color: #fff; */
  background-color: #101010;
  display: block;
  width: 35%;
  height: -webkit-fill-available;
  border-radius: 35px;
  box-sizing: border-box;
  padding: 4% 3%;
}

.wu--input-group {position: relative;margin-bottom: 6%;display: block;box-sizing: border-box;}

.wu--input-group input {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 100%;
  height: fit-content;
  padding: 4% 3%;
  border-radius: 9px;
  border: 1px solid var(--primary);
  background-color:transparent;
  font-family: 'Poppins';
  font-size: 12px;
  color:#fff;
}

label.wu--input-label {
  position: relative;
  display: block;
  margin-bottom: 2%;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

button.wu--form-button {
  width: 100%;
  display: block;
  position: relative;
  box-sizing: border-box;
  padding: 5% 0%;
  background-color: var(--primary);
  border: none;
  border-radius: 9px;
  font-family: 'Poppins';
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  margin-top: 10%;
  cursor: pointer;
}